ion-title {
  font-family: "Rubik-medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  color: var(--text-color);
  margin-top: 68px;
  margin-bottom: 68px;
  padding: 0px;
  width: 90%;
  max-width: 650px;
  margin-inline: auto;
}

.map-preview {
  width: 100%;
  height: 198px;
  background-color: var(--foreground-color);
  border-radius: 10px;
  margin-bottom: 55px;
  width: 90%;
  max-width: 650px;
  margin-inline: auto;
  background-image: url('../../../assets/images/map_preview.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h6 {
  font-family: "Rubik-medium";
  font-style: normal;
  font-size: 14px;
  margin-block-start: 0px;
  margin-block-end: 8px;
  width: 90%;
  max-width: 650px;
  margin-inline: auto;
}

ion-button {
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 55px;
}

ion-list {
  background: var(--background-color);
  width: 90%;
  max-width: 650px;
  margin-inline: auto;
  border-radius: 10px;
  ion-item {
    --padding-start: 24px;
    --padding-end: 6px;
    --background: var(--foreground-color);
    --border-radius: 10px;
    --transition: background-color 15ms linear;
    --border-style: none;
    --border-width: none;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 0px;
    ion-label {
      color: var(--text-color);
      h3{
        font-family: "Rubik-medium";
        font-size: 16px;
      }
      p{
        font-family: "Rubik";
        font-size: 12px;
      }
    }
  }
}
