<ion-content class="ion-padding-horizontal">
  <ion-title
    >¿Qué deseas <br />
    hacer hoy?</ion-title
  >
  <h6>ver mapa</h6>
  <div class="map-preview"></div>

  <h6>Últimos registros</h6>
  <ion-list>
    <ion-item detail="true">
      <ion-label>Tacos Tommy</ion-label>
    </ion-item >
    <ion-item detail="true">
      <ion-label>Bar de puebla</ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>La cantina buena</ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-label>Lonches el guero</ion-label>
    </ion-item>
  </ion-list>
  <ion-button class="medium-button" expand="block" fill="clear" shape="round">
    Ver todos
  </ion-button>
</ion-content>
