<ion-header mode="ios">
  <ion-toolbar
    style="
      --background: var(--background-color);
      --border-style: none !important;
      --border-width: 0px;
    "
  >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal" mode="md">
  <ion-title mode="md"
    >What are you <br />
    doing today?</ion-title
  >

  <h6 (click)="navigateTo('home')">View map</h6>
  <div class="map-preview" (click)="navigateTo('home')"></div>

  <h6>Last markers</h6>

  <ion-list>
    <ion-item lines="full" detail="true">
      <ion-icon slot="start" name="location-sharp"></ion-icon>
      <ion-label>
        <h3>Tacos el tommy</h3>
        <p>Viernes 4:40pm, 10/09/2022</p>
      </ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-icon slot="start" name="location-sharp"></ion-icon>
      <ion-label
        ><h3>Bar de puebla</h3>
        <p>Viernes 4:40pm, 10/09/2022</p></ion-label
      >
    </ion-item>
    <ion-item detail="true">
      <ion-icon slot="start" name="location-sharp"></ion-icon>

      <ion-label
        ><h3>La cantina buena</h3>
        <p>Viernes 4:40pm, 10/09/2022</p></ion-label
      >
    </ion-item>
    <ion-item detail="true">
      <ion-icon slot="start" name="location-sharp"></ion-icon>

      <ion-label
        ><h3>Lonches el guero</h3>
        <p>Viernes 4:40pm, 10/09/2022</p></ion-label
      >
    </ion-item>
  </ion-list>

  <ion-button
    (click)="navigateTo('home/registros')"
    class="medium-button"
    expand="block"
    fill="clear"
    shape="round"
  >
    view all
  </ion-button>
</ion-content>
