$width: 95%;

#map {
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

#map.visible {
  opacity: 1;
}
#map.hidden {
  opacity: 0;
}
ion-toolbar {
  --background: var(--background-color);
  height: 55px;
  display: grid;
  align-items: center;
  ion-title {
    font-family: "Rubik-medium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
}
#searchBar {
  &.opened {
    width: $width;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  transition-delay: 0.3s;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.24);
  width: 95%;
  max-width: 450px;
  height: 50px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  left: calc(50%);
  transform: translateX(-50%);
  background-color: var(--background-color);
  z-index: 2;
  padding-inline: 12px;
  h1 {
    font-size: 14px;
    margin: 0px;
  }
  ion-icon {
    font-size: 24px;
    cursor: pointer;
  }
}
#searchBarResults {
  &.opened {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 300px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.24);
  }
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  overflow-y: hidden;
  position: absolute;
  top: 90px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: var(--background-color);
  border-radius: 8px;
  ion-list {
    background: var(--background-color);
    width: calc(100% - 16px);
    max-width: 650px;
    margin-inline: auto;
    border-radius: 10px;
    padding-block: 4px;
    ion-item {
      --padding-start: 24px;
      --padding-end: 6px;
      --background: var(--foreground-color);
      --border-radius: 10px;
      --transition: background-color 15ms linear;
      --border-style: none;
      --border-width: none;
      margin-bottom: 4px;
      margin-top: 4px;
      ion-label {
        color: var(--text-color);
        h3 {
          font-family: "Rubik-medium";
          font-size: 14px;
          margin-bottom: 0px;
        }
        p {
          font-family: "Rubik";
          font-size: 12px;
          opacity: 80%;
        }
      }
      ion-icon {
        opacity: 60% !important;
      }
    }
  }
}
ion-content {
  --background: var(--foreground-color);
}
ion-button {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: calc(50%);
  transform: translateX(-50%);
}
#breadCrumbsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  column-gap: 2%;
  max-width: 350px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  .breadCrumb {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    border-radius: 20px;
    height: 35px;
    width: 32%;
    background-color: var(--background-color);
    display: grid;
    place-items: center;
    p {
      font-size: 12px;
      color: var(--text-color);
      font-family: "Rubik-medium";
      font-style: normal;
      font-weight: 500;
      width: fit-content;
      margin-inline: auto;
      margin-block: 0px;
    }
  }
}

ion-menu {
  .menu-header-wrapper {
    background-color: var(--background-color);
    padding-left: 18px;
    padding-top: 54px;
    ion-avatar {
      background-color: white;
    }

    h1 {
      font-family: "Rubik-medium";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: var(--text-color);
      margin-block-start: 16px;
      margin-block-end: 2px;
    }
    h2 {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      opacity: 50%;
      color: var(--text-color);
      margin-block: 0px;
      margin-block-end: 8px;
    }
  }
  ion-list {
    background-color: var(--foreground-color);
    ion-item {
      --background: var(--foreground-color);
      opacity: 95% !important;
      ion-icon {
        opacity: 95% !important;
      }
      ion-label {
        font-family: "Rubik";
        font-size: 16px;
      }
    }
    ion-item-divider {
      --background: var(--background-color);
      ion-label {
        font-family: "Rubik-medium";
      }
    }
  }
  p {
    font-family: "Rubik-medium";
    font-size: 14px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    opacity: 50%;
    transform: translateX(-50%);
  }
}
