ion-tab-bar {
  --background: var(--background-color);
}

ion-tab-button {
  --background-focused-opacity: 1;
  ion-icon {
    color: var(--foreground-color) !important;
  }
  ion-label {
    // display: none;
    color: var(--foreground-color) !important;
  }

  &.tab-selected {
    ion-icon {
      color: white !important;
    }
    ion-label {
      // display: block;
      color: white !important;
    }
  }
}
