<ion-content [fullscreen]="true">
  <div class="form-wrapper">
    <ion-title
      >Bienvenido <br />
      de nuevo</ion-title
    >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-label>Usuario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="user" type="text"></ion-input>
      <ion-label>Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input
        required
        formControlName="password"
        type="password"
      ></ion-input>
      <ion-button
        block
        class="medium-button"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
